/* `YELLOW
#f3bb01 - gold yellow 

RED
#c04346 - dark red
#ef595d - light red 

BLACK
#8d8fa4 - light grey
#343740 - black (should be all text) 


BACKGROUND
#ffffff - white
#ecedf2 - off white
`` */


body{
  font-family: 'Roboto', sans-serif;
  background-color: #ecedf2;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #343740;
}


/* landing page CSS */
.landingBox{
  width: 70%;
  margin: 15% auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

.landingText{
  margin: 1% auto;
  text-align: center;
}

#landingTitle{
  font-size: 1.8rem;
  color: #e3ae3d;
}

#landingSpan{
  color: #7795f8;
}

#landingText{
  font-size: 1.3rem;
  color: #6B7c93;
}

.landingButtons{
 padding: 20px;
 margin: 1% auto;
 display: flex;
 justify-content: space-between;
}

.bBtn{
  color: #f6f9fc;
  font-weight: 550;
  background-color: #3ecf8e;
  border: 1px solid #3ecf8e;
  padding: 12px 36px;
  border-radius: 35px;
  margin-left: 10px;
}

.bBtn:hover{
  background-color: #40d693;
  border: 1px solid #40d693;
  transform: translateY(-.8px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}


.aBtn{
  color: #f6f9fc;
  font-weight: 550;
  background-color: #7795f8;
  border: 1px solid #7795f8;
  padding: 12px 36px;
  border-radius: 35px;
  margin-right: 10px;
}

.aBtn:hover{
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.footer{
  font-size: 0.75rem;
  margin-top: 40%;
  text-align: center;
}

/* login form CSS */

.landingFormOuter{
  margin: 0% auto;
  width: 45%;
}

.landingFormInner{
  display: flex;
  flex-direction: column;
}

/* navbar */

.navbar{
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5% auto;
}

.largeNavItem{
  width: 30%;
  color: black;
}

.largeNavItem h2{
  font-size:3rem;
  font-weight: bold;
}

.smallNavItem{
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.NavItem{
  margin: 0px 10px;
}

.NavItem button{
  padding: 13px 35px;
  background: #7795f8;
  border: 1px solid #7795f8;
  font-weight: bold;
  font-size:14px;
  border-radius: 15px;
  color: #ecedf2;
}

.NavItem button:hover{
  color: white;
  background: #91a9f7;
  border: solid 1px #91a9f7;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

}

/* events dashboard */

.pageTitle{
  max-width:900px;
  width:100%;
  text-align:center;
  margin: 5% auto;
  font-size: 2rem;
}

.eventDiv{
  width: 80%;
  margin: 3% auto;
}

.eventRow{
  margin: 2% auto;
  display: flex;
  justify-content: space-evenly;
  background: #e1e2e6;
  padding: 10px 40px;
  border-radius: 18px;
  color: #343740;
}

.eventRow:hover{
  /* background: #ff5e63; */
  background: #68bfac;
  color: #ecedf2;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}


.eventRowFake{
  margin: 2% auto;
  display: flex;
  justify-content: space-evenly;
  background: #343740;
  padding: 10px 40px;
  border-radius: 18px;
  color: #ecedf2;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.eventCol{
  text-align: center;
  width: 25%;
  font-size:1.3rem;
  font-weight:600;
}

.eventA a{
    color: #343740;
    text-decoration: none;
    
  }
/* single event */

.singleEvent{
  max-width:900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.eventCard{
  background: #e1e2e6;
  padding: 1px 20px;
  border: 1px #e1e2e6 solid;
  border-radius: 10px;
  color: #343740;
  width:100%;
  text-align:center;
  font-size:16px;
}

.spanMan{
  color: #343740;
  color:#7795f8;
}

.eventBtnDiv{
  margin: 1% auto;
  display:flex;
  justify-content:center;
}

.editBtn{
  margin-right: 10px;
  padding: 7px 24px;
  border-radius: 8px;
  background-color: #3ecf8e;
  border: 1px solid #3ecf8e;
  color: #ecedf2;
}

.editBtn:hover{
  background-color: #40d693;
  border: 1px solid #40d693;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

}
.deleteBtn{
  margin-left: 10px;
  background: #ef595d;
  border: 1px #ef595d solid;
  padding: 7px 24px;
  border-radius: 9px;
  color: #e1e2e6;
}

.deleteBtn:hover{
  border: 1px solid #ef595d;
  background: #ef595d;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

}

.eventSub{
  width: 27%;
  height: 250px;
  background: #e1e2e6;
  margin-top:30px;
  padding: 1px 20px;
  border-radius: 18px;
  text-align:center;
}

.addBtn{
  padding: 5px 14px;
  border-radius: 8px;
  background-color: #3ecf8e;
  border: 1px solid #3ecf8e;
  color: #ecedf2;;
}

.addBtn:hover{
  background-color: #40d693;
  border: 1px solid #40d693;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.eventInput{
  border: 1px #e1e2e6 solid;
  border-radius: 8px;
  padding: 4px 4px;
  margin-right: 4px;
}

.task-button{
  border:1px solid #40d693;
  width:5px;
  height:5px;
  border-radius:50%;
  margin-right:10px;
  color:#40d693;
  background-color:#40d693;
}
.task-button:hover{
  border:1px solid #ef595d;
  width:5px;
  height:5px;
  border-radius:50%;
  margin-right:10px;
  color:#ef595d;
  background-color:#ef595d;
}

